<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:sec="http://thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<style>
  table {
    border: 1px solid black;
    border-collapse: collapse;
  }
  
  th {
    border: 1px solid black;
    background-color: lightgray;
  }
  
  td {
    border: 1px solid black;
  }
</style>


<script>

	$(document).ready(function() {
	// ajax 불러오기 등 사전 작업
	$('.delButton').on('click', del);
	function del(){
		let btn = $(this).attr('data-id');
		if (confirm(btn + '를 삭제하시겠습니까?')){
			location.href="delete?ISBN=" + btn;
			}
		}
	});

</script>

</head>
<body>

	<h1> [보유 책 전체조회] </h1>
<table>
	<tr>
		<th>번호</th>
		<td>ISBN</td>
		<td>제목</td>
		<td>저자</td>
		<td>출판사</td>
		<td>출판날짜</td>
		<td>가격</td>
		<td>할인율</td>
		<td>할인가격</td>
	</tr>
	<tr th:if="${booklist == null or booklist.isEmpty()}">
	  	<td colspan="9"> 조회결과가 없습니다.</td>
	</tr>
	<tr th:if="${booklist}" th:each="book, status : ${booklist}">
		<td th:text="${status.count}"></td>
		<td><a th:href="|search?id=${book.ISBN}|" th:text=${book.ISBN}></a></td>
		<td th:text=${book.title} > </td>
		<td th:text=${book.author} > </td>
		<td th:text=${book.publisher} > </td>
		<td th:text=${book.reg_date} > </td>
		<td th:text=${book.price} > </td>
		<td th:text=${book.discount} > </td>
		<td th:text="|${book.price * book.discount}|" > </td>
		<td><button class="delButton" th:data-id="${book.ISBN}">삭제3</button></td>
	</tr>

</body>
</html>