<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:sec="http://thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>회원가입</title>

<link rel="stylesheet" href="/css/joinForm_style.css" />
<script th:src="@{/js/jquery-3.7.1.min.js}"></script> 
<script src="/js/joinForm_js.js"></script>



</head>
<body>
 <p>[ 회원가입 ]</p>
 

 <form id="joinForm" th:action="@{/member/join}" method="post">
      <div class="container">
    <div class="insert">
    
        <table>
    <caption><h2>[회원가입]</h2></caption>
    
    <tr>
        <td class="col1">ID</td>
        <td class="col2">
            <input type="text" name="memberId" id="id" placeholder="ID중복확인 이용" readonly="readonly">
            <input class='but1' type="button" value="중복확인" onclick="checkId">
        </td>
    </tr>
    
    <tr>
        <td class="col1">비밀번호</td>
        <td class="col2">
            <input type="password" name="memberPassword" id="pw" maxlength="16" placeholder="비밀번호 입력"><br>
            <input type="password" id="pwdCheck" maxlength="16" placeholder="비밀번호 다시입력">
            <p>※비밀번호는 <span class="num">문자, 숫자, 특수문자(~!@#$%^&*)의 조합 4 ~ 16자리</span>로 입력이 가능합니다.</p>
        </td>
    </tr>
    
    <tr>
        <td class="col1">이름</td>
        <td class="col2"><input type="text" name="memberName" id="name" placeholder="이름입력"></td>
    </tr>
    
    <tr>
        <td class="col1">이메일</td>
        <td class="col2"><input type="text" name="email" placeholder="전화번호 입력"></td>
    </tr>
    
    <tr>
        <td class="col1">전화번호</td>
        <td class="col2"><input type="text" name="phone" placeholder="전화번호 입력"></td>
    </tr>
    
    <tr>
        <td class="col1">주소</td>
        <td class="col2"><input style="width:400px;" type="text" name="address" placeholder="주소 입력"></td>
    </tr>
   
    </table>
    
  </div>
 
  <div class="create">
    
        <input class="but3" id="subButton" type="submit" value="가입" onclick="formCheck">
        
        <input class="but4" type="reset" value="다시쓰기" onclick="">
    
  </div>
  </div>
  </form>
 </body>

</html>